$dark-grey: rgb(24, 26, 27);

body {
	font-family: sans-serif;
	background-color: $dark-grey;
	display: flex;
	flex-direction: column;
	align-items: center; 
}


section {
	background-color: lighten($dark-grey, 10%);
	border-radius: 10px;
	margin: 10px;
	max-width: 800px;
}